button{
    border: none;

}

body{
    padding: 0px;
    margin: 0px;
}

ul{
    list-style: none;
    padding: 0px;
    
}

.navbar{
    background-color:black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}

.logo{
    height: 150px;
}

.text{
    font-weight: bolder;
    color:beige
}

.buttonLogin{
    background-color: #0a192d;
    padding: 10px 15px;
    margin: 5px;
    border: none;
    font-weight: bolder;
}

.buttonLogin:hover{
    transform: scale(1.1);
    background-color: #b1c4b949;
    cursor: pointer;
}
