button{
    border: none;
}

body{
    padding: 0px;
    border: none;
    margin: 0px;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;  
}


.primary-navbar{
    background-color:#0a192d;
    display: flex;
    justify-content: space-around;
    padding: 10px;   
}

.logo{
    height: 150px;
}

.text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 15px;
    color:beige
}

.inputSearch{
    justify-content: center;
    border: none;
    margin-top: 60px;
    padding: 10px;
    width: 300px;
}

.inputSearch:hover{
    border: solid grey 1px;
    background-color: beige;
}

.buttonLogin{
    background-color: #0a192d;
    padding: 10px 15px;
    margin-top: 60px;
    border: none;
    color: beige;
}

.buttonLogin:hover{
    transform: scale(1.1);
    background-color: #b1c4b949;
    cursor: pointer;
}

.secondary-navbar{
    display: flex;
    justify-content: space-around;
    background-color: #b58f5a;
    padding: margin 5px;
}

.button-navbar{
    background-color: #b58f5a;
    padding: 10px;
}

.button-navbar:hover{
    background-color: #a87f46;
    cursor: pointer;
}